.footer-box{
  width: 100%;

  .footer-content{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr)); 
    justify-content: space-around;
    width: 100%;
    background-color: #001327;
    color: #fff;
    
    @media (max-width: 1024px) { 
      grid-template-columns: repeat(2, minmax(0, 1fr)); 
    }
    
    @media (max-width: 425px) { 
      grid-template-columns: repeat(1, minmax(0, 1fr)); 
    }
    .footer-github{
      grid-column: span 1; 
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      padding-top: 10px;
      padding-bottom: 10px;
      .footer-github-icon{
        width: 65px;
      }
    }

    .footer-contact{
      grid-column: span 1; 
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      padding-top: 10px;
      padding-bottom: 10px;

      .footer-contact-title{
        font-size: 1.25rem;
      }

      .footer-contact-name,
      .footer-contact-mail{
        font-size: 0.85rem;
        color: #cecece;
      }
    }

    .footer-stack{
      grid-column: span 1; 
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding-top: 10px;
      padding-bottom: 10px;
      @media (max-width: 1024px) { 
        grid-column: span 2; 
      }

      @media (max-width: 425px) { 
        grid-column: span 1; 
      }

      .footer-stack-title{
        text-align: center;
        font-size: 1.25rem;
      }

      .footer-stack-img-box{
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        padding-right: 20px;
        margin-top: 10px;

        .footer-stack-technology{
          display: flex;
          justify-content: space-around;
          align-items: center;
          flex-direction: column;

          .footer-stack-logo{
            width: 35px;
            height: 35px;

            &.react-logo{
              width: 35px;
              height: 32px;
            }
          }

          .footer-stack-technology-name{
            font-size: 0.90rem;
            color: #d3d3d3;
          }
        }
      }
    }
  }

  .footer-bottom{
    width: 100%;
    background-color: #000814;

    .footer-bottom-text{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      color: #fff;
      font-size: 0.85rem;
      padding: 5px;
      font-style: italic;
    }
  }
}