.currency-picker-box{
  display: flex;
  align-items: center;
  height: 60px;
  min-width: 200px;
  user-select: none;

  .currency-code{
    font-weight: 500;
    font-size: 1rem;
  }

  .currency-name{
    color: rgb(50, 50, 50);
    font-size: 0.75rem;
  }


}