.currency-picker-box{

  .currency-picker{
    display: flex;
    align-items: center;
    border-style: solid;
    border-color: #999999;
    border-radius: 8px;
    border-width: 2px;
    height: 60px;
    min-width: 200px;
    user-select: none;
    background-color: #ffffff;
    cursor: pointer;
    .currency-info{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 10px;

      .currency-code{
        font-weight: 500;
        font-size: 1rem;
      }
    
      .currency-name{
        color: rgb(50, 50, 50);
        font-size: 0.75rem;
      }
    }
  }

  .list-box{
    position: absolute; 
    background-color: #ffffff; 
    border-radius: 0.375rem; 
    width: 250px;
    border: 1px solid #dadada;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); 
    .currency-input{
      display: block; 
      padding-top: 0.5rem;
      padding-bottom: 0.5rem; 
      padding-right: 0.75rem; 
      padding-left: 2.25rem; 
      outline: 0px solid transparent;
      border: 2px solid transparent;
    }

    .currency-list{
      overflow: scroll; 
      overflow-x: hidden;
      width: 100%;
      height: 300px;
      border-top: 1px solid #b3b3b3;
      .currency-button{
        display: flex; 
        align-items: center; 
        user-select: none; 
        height: 60px;
        width: 100%;
        background-color: #ffffff;
        border: 2px solid transparent;
        &:hover {
          background-color: #F3F4F6; 
        }

        .country-flag{
          margin-left: 20px;
        }

        .currency-info{
          text-align: left; 
          margin-left: 10px;
        }
      }
    }
  }
}